fuentes/varios/4.1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="fichas">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ficha" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nombre"/>
              <xs:element type="xs:byte" name="edad"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="numero" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs1:attribute ref="xs:noNamespaceSchemaLocation" xmlns:xs="http: // www.w3.org /2001/ XMLSchema - instance" xmlns:xs1="http://www.w3.org/2001/XMLSchema"/>
    </xs:complexType>
  </xs:element>
</xs:schema>